
@{
    ViewBag.Title = "Index";
    var myHead = TempData["Head"];
    var myData = TempData["Dataa"];
}
<h1 class="text-center"><b><u>M/M/C Queuing Simulation</u></b></h1>
@*<h4 class="text-center"><b>Presented To Miss.Shaista Raees</b></h4>*@
<hr />
@*<h2 class="text-center">Queue Simulation</h2>*@

<div class="row">

    <div id="myForm" style="position: relative; right: 100px">
        <div class="col-md-4">
            <div class="jumbotron" style="color: black; border: 1px solid gray;">
                <div id="inputField" hidden></div>
                @*<p class="lead text-center" style="color: darkslategray;"><b>M/M/C Distribution</b></p>*@
                <p class="lead"><b>Select No.Of Servers</b></p>
                <select id="servers" name="NoOfServers" class="form-select" aria-label="Default select example" style="background-color: white; margin-left: 10px; font-size: 1.5rem;">
                    <option selected>Select Servers</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                @*<br />
        <br />
        <p class="lead"><b>Enter Customers:</b></p>
        <input id="customers" name="NoOfCustomers" style="background-color: white; margin-left: 10px; font-size: 1.5rem;" placeholder="No of Customers" />*@
                <br />
                <br />
                <p class="lead"><b>Enter Inter-Arrival:</b></p>
                <input id="iat" name="MIAT" style="background-color: white; margin-left: 10px; font-size: 1.5rem;" placeholder="Mean Inter-Arrival Time (λ)" />
                <br />
                <br />
                <p class="lead"><b>Enter Service Time:</b></p>
                <input id="st" name="MST" style="background-color: white; margin-left: 10px; font-size: 1.5rem;" placeholder="Mean Service Time (µ)" />
                <br />
                <br />

            </div>
        </div>
        <div class="col-md-8">
            <div class="jumbotron" style="height:40rem; width: 100rem; overflow:scroll; border: 1px solid gray;">
                @*<p class="text-center" style="color: darkslategray;"><b>M/M/C Simulation</b></p>*@
                
                <table class="table" style="color: black;">
                    <thead>
                        <tr>
                            <th scope="col">Customers</th>
                            <th scope="col">InterArrival Time</th>
                            <th scope="col">Arrival Time</th>
                            <th scope="col">Service Time</th>
                            <th scope="col">Start Time</th>
                            <th scope="col">End Time</th>
                            <th scope="col">Turnaround Time</th>
                            <th scope="col">Wait Time</th>
                            <th scope="col">Server</th>
                        </tr>
                    </thead>
                    <tbody id="tableRowData" class="text-center">
                        @*table data is appended through jquery here*@
                    </tbody>
                </table>
                <h2 id="noData" class="text-center" style="position: relative; top: 100px; color: gray">No Data To Show</h2>
                <div id="myLoader" hidden class="text-center" style="color: darkslategray;">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
@*<input style="background-color:darkslategrey; color: white;" type="submit" id="btn2" onclick="upload();" value="Upload Data" class="btn btn-default" />*@
<input id="fileupload" type="file" name="file-upload" />
<div style="padding-top: 2rem;">
    <button style="background-color:darkslategrey; color: white;" class="btn btn-default" id="upload-button" type="submit" onclick="uploadFile();">Upload Excel File</button>
    <input style="background-color: darkslategrey; color: white; position: relative; left: 18rem;" type="submit" id="btn" onclick="sub();" value="Run Simulation" class="btn btn-default" />
</div>
<div class="text-center">
</div>
<br />
<div id="pm" hidden class="row">
    <div class="col-md-7">
        <div id="myPM" class="jumbotron text-center" style="color: black;">

        </div>
    </div>
    <div class="col-md-5">
        <div>
            <table id="myPMOverAll" class="table" style="background-color: lightgray; color: black; width: 200px; height: 100px;">
                <thead id="PMHead">

                </thead>
                <tbody id="PMBody">
                </tbody>
            </table>
        </div>
        <br />
        <br />

        <br />
        <br />

        <div class="text-center">
            <div style="font-size: 2rem; width: 100%; display: flex; flex-flow: row;">
                <input style="background-color: darkslategray; color: white;" type="button" value="Click here to See Graph" onclick="location.href='@Url.Action("JSON", "Simulation")'" />
                <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16" onclick="location.href='@Url.Action("JSON", "Simulation")'">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>
                @*<button type="button" class="btn btn-primary btn-rounded">@Html.ActionLink("Click Here To See Graphs", "JSON")</button>*@

            </di    v>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.min.js"></script>*@
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>*@
<script>
        function uploadFile() {

            var files = document.getElementById('fileupload').files;
            try {
                var reader = new FileReader();
                reader.readAsBinaryString(files[0]);
                var jsonData;
                reader.onload = function (e) {
                    debugger;
                    var data = e.target.result;
                    var workbook = XLSX.read(data, {
                        type: 'binary'
                    });
                    var result = {};
                    var firstSheetName = workbook.SheetNames[0];
                    //reading only first sheet data
                    jsonData = XLSX.utils.sheet_to_json(workbook.Sheets[firstSheetName]);
                    var interArrivalTime=0;
                    var serviceTime = 0;
                    /* var noOfCustomers = jsonData.length;*/
                    for (var i = 0; i < jsonData.length; i++)
                    {
                        var row = jsonData[i];
                        interArrivalTime = interArrivalTime + parseInt(row["InterArrival"]);
                        serviceTime = serviceTime + parseInt(row["Service Time"]);
                    }
                    var lamda = interArrivalTime / jsonData.length;
                    var miyon = serviceTime / jsonData.length;
                    console.log(lamda);
                    console.log(miyon);
                    servers = 2;
                    document.getElementById('servers').value = servers;
    /*                document.getElementById('customers').value = noOfCustomers;*/
                    document.getElementById('iat').value = lamda;
                    document.getElementById('st').value = miyon;
                    //displaying the json result into HTML table
                    //displayJsonToHtmlTable(jsonData);
                }
            } catch (e) {
                console.error(e);
            }
            //let formData = new FormData();
            //debugger;
            //formData.append("file", fileupload.files[0]);
            //await fetch('/upload.php', {
            //    method: "POST",
            //    body: formData
            //});
            console.log(jsonData);
            //alert('The file has been uploaded successfully.');
        }

    function sub() {
        debugger;
        $("#inputField").empty();
        $("#tableRowData").empty();
        $("#myPM").empty();
        $("#PMHead").empty();
        $("#PMBody").empty();
        $("#noData").hide();
        $("#myLoader").show();
        $("#myLoader").removeAttr('hidden');
        $("#pm").hide();
        var inputData = {
            NoOfServers: $("#servers option:selected").val(),
            MIAT: $("#iat").val(),
            MST: $("#st").val()

        }
        if (inputData.NoOfServers != "Select Servers" && inputData.MIAT != "" && inputData.MST != "") {
            $.ajax(
            {
                type: "POST",
                url: '@Url.Action("Index", "Simulation")',
                data: JSON.stringify(inputData),
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    debugger;
                    $("#myLoader").hide();
                    var dataa = data[0];
                    var dataa2 = data[1];
                    var dataa3 = data[2];
                    for (var i = 0; i < dataa.length; i++) {
                        var cust = i + 1;
                        $("#tableRowData").append('<tr><td>C' + cust + '</td><td>' + dataa[i].interArrival + '</td><td>' + dataa[i].arrival + '</td><td>' + dataa[i].serviceTime + '</td><td>' + dataa[i].startTime + '</td><td>' + dataa[i].endTime + '</td><td>' + dataa[i].turnaroundTime + '</td><td>' + dataa[i].waitTime + '</td><td>' + dataa[i].server + '</td></tr>')
                    }
                    $("#pm").removeAttr('hidden');
                    $("#pm").show();
                    $("#myPM").append('<h2><b><u>Performance Measure of MM2 </u></b></h2><br /><p class="lead"><b>Average Length of the Queue (Lq) :&nbsp; ' + dataa2[0] + '</b></p><p class="lead"><b>Average Wait Time of the Queue (Wq) :&nbsp; ' + dataa2[1] + '</b></p><p class="lead"><b>Average Wait Time in the System (W) :&nbsp; ' + dataa2[2] + '</b></p><p class="lead"><b>Average Length of the System (L) :&nbsp; ' + dataa2[3] + '</b></p><p class="lead"><b>Idle Time (idle) :&nbsp; ' + dataa2[4] + '</b></p>')
                    $("#PMHead").append('<tr><td><b>Avg ArrivalTime  </b></td><td><b>Avg ServiceTime  </b></td><td><b>Avg TurnaroundTime  </b></td><td><b>Avg WaitTime  </b></td></tr><br/>');
                    /*$("#myPMOverAll").append('<br/>');*/
                    $("#PMBody").append('<tr><td>' + dataa3[0] + '</td><td>' + dataa3[1] + '</td><td>' + dataa3[2] + '</td><td>' + dataa3[3] + '</td></tr>');
                }
            });
        }
        else {
            $("#inputField").removeAttr('hidden');
            $("#myLoader").hide();
            $("#noData").show();
            $("#inputField").append('<div style="color: darkred; font-size: 2rem;">*Fill all the Fields !</div>')
        }

    }
</script>
